<div id="contain" style="">
  <div id="contain1" style="">
    <div id="info" style="">
      <div id="image">Đổi mật khẩu</div>
      <button class="itemBtnLession2">Lưu thay đổi</button>
    </div>
    <div class="content" style="">
      <div>
        <div class="imgs">Mật khẩu cũ</div>
      </div>
      <div class="contents" style="">
        <input style="" class="note" value="" />
      </div>
    </div>
    <div class="content" style="">
      <div>
        <div class="imgs">Mật khẩu mới</div>
      </div>
      <div class="contents" style="">
        <input style="" class="note" value="" />
      </div>
    </div>
    <div class="content" style="">
      <div>
        <div class="imgs">Xác nhận mật khẩu</div>
      </div>
      <div class="contents" style="">
        <input style="" class="note" value="" />
      </div>
    </div>
  </div>
</div>
