<div id="mainHome">
  <div class="align-center">
    <span style="font-size: 24px; font-weight: 400; color: #58cc02"
      >Đúng: {{ dung }}/</span
    >
    <span style="font-size: 24px; font-weight: 400; color: #f44336">
      Sai: {{ sai }}</span
    >
  </div>
  <div>
    <h5>
      Câu hỏi {{ position + 1 }}/{{ questions.length }}:
      {{ question.title_question }}
    </h5>
  </div>
  <!-- audio -->
  <div class="align-center">
    <audio style="outline: none" controls src="{{ question.sound }}"></audio>
  </div>

  <!-- cau hoi 1 -->
  <div>
    <h5>Câu {{ position + 1 }}: {{ question.question }}</h5>
  </div>
  <div class="align-center cover-center contain">
    <!-- cau tra loi -->
    <div class="cover-left align-center">
      <input
        [ngClass]="{
          input1: stylecau1 == 1
        }"
        readonly
        type="text"
        [value]="question.dapanA"
        #dapanA
        (click)="updateA(dapanA)"
      />
      <input
        [ngClass]="{
          input1: stylecau1 == 2
        }"
        readonly
        type="text"
        [value]="question.dapanB"
        #dapanB
        (click)="updateB(dapanB)"
      />
      <input
        [ngClass]="{
          input1: stylecau1 == 3
        }"
        readonly
        type="text"
        [value]="question.dapanC"
        #dapanC
        (click)="updateC(dapanC)"
      />
      <input
        [ngClass]="{
          input1: stylecau1 == 4
        }"
        readonly
        type="text"
        [value]="question.dapanD"
        #dapanD
        (click)="updateD(dapanD)"
      />
    </div>
  </div>
  <!-- cau hoi 2 -->
  <div>
    <h5>Câu {{ position + 2 }}: {{ question2.question }}</h5>
  </div>
  <div class="align-center cover-center contain">
    <!-- cau tra loi -->
    <div class="cover-left align-center">
      <input
        [ngClass]="{
          input1: stylecau2 == 1
        }"
        readonly
        type="text"
        [value]="question2.dapanA"
        #dapanA2
        (click)="updateA2(dapanA2)"
      />
      <input
        [ngClass]="{
          input1: stylecau2 == 2
        }"
        readonly
        type="text"
        [value]="question2.dapanB"
        #dapanB2
        (click)="updateB2(dapanB2)"
      />
      <input
        [ngClass]="{
          input1: stylecau2 == 3
        }"
        readonly
        type="text"
        [value]="question2.dapanC"
        #dapanC2
        (click)="updateC2(dapanC2)"
      />
      <input
        [ngClass]="{
          input1: stylecau2 == 4
        }"
        readonly
        type="text"
        [value]="question2.dapanD"
        #dapanD2
        (click)="updateD2(dapanD2)"
      />
    </div>
  </div>
  <!-- cau hoi 3 -->
  <div>
    <h5>Câu {{ position + 3 }}: {{ question3.question }}</h5>
  </div>
  <div class="align-center cover-center contain">
    <!-- cau tra loi -->
    <div class="cover-left align-center">
      <input
        [ngClass]="{
          input1: stylecau3 == 1
        }"
        readonly
        type="text"
        [value]="question3.dapanA"
        #dapanA3
        (click)="updateA3(dapanA3)"
      />
      <input
        [ngClass]="{
          input1: stylecau3 == 2
        }"
        readonly
        type="text"
        [value]="question3.dapanB"
        #dapanB3
        (click)="updateB3(dapanB3)"
      />
      <input
        [ngClass]="{
          input1: stylecau3 == 3
        }"
        readonly
        type="text"
        [value]="question3.dapanC"
        #dapanC3
        (click)="updateC3(dapanC3)"
      />
      <input
        [ngClass]="{
          input1: stylecau3 == 4
        }"
        readonly
        type="text"
        [value]="question3.dapanD"
        #dapanD3
        (click)="updateD3(dapanD3)"
      />
    </div>
  </div>

  <!-- button kiem tra -->
  <div class="align-center">
    <a href="{{ link }}#mainHome">
      <button class="check" (click)="handle()">kiểm tra</button></a
    >
  </div>
</div>
